.search-grid {
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(3, 1fr); /* mobile: 3 cột */
}

@media (min-width: 576px) {
    .search-grid {
        grid-template-columns: repeat(4, 1fr); /* sm: 4 cột */
    }
}

@media (min-width: 768px) {
    .search-grid {
        grid-template-columns: repeat(6, 1fr); /* md: 6 cột */
    }
}

@media (min-width: 1200px) {
    .search-grid {
        grid-template-columns: repeat(9, 1fr); /* xl: 9 cột */
    }
}
