:root[data-theme='light'] {
    --color-container-bg: #520044;
    --color-title: #630049;
    --color-label: #59565d;
    --color-btn: #9c1b5d;
    --color-submit-bg: #520044;
    --color-submit-bg-hover: #b80099;
    --color-submit-text: white;
    --color-submit-disabled: #9b8f9f;
    --color-footer-link: #9c1b5d;
    --color-error: red;
}

:root[data-theme='dark'] {
    --color-container-bg: #520044;
    --color-title: #a194d0;
    --color-label: #59565d;
    --color-btn: var(--primary--color);
    --color-submit-bg: #6c5aad;
    --color-submit-bg-hover: #513e92;
    --color-submit-disabled: #a194d0;
    --color-footer-link: #9c1b5d;
    --color-error: red;
}

.container {
    flex: 1;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-container-bg);
    background-image: url(https://auth.fandom.com/_next/static/media/branding_background.c0ec82a7.png);
    background-repeat: repeat;
    background-size: 382px;
}

.modal {
    background: var(--color-submit-text);
    padding: 30px 25px;
    border-radius: 8px;
    width: 350px;
    position: relative;
    font-family: Arial, sans-serif;
}

.title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 16px;
    color: var(--color-title);
}

.label {
    font-size: 14px;
    pointer-events: auto;
    left: 0;
    color: var(--color-label);
    font-family: rubik, helvetica, arial, sans-serif;
}

.form {
    display: flex;
    flex-direction: column;
}

.form label {
    font-size: 14px;
    margin-bottom: 5px;
}

.form input {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 6px;
    font-size: 14px;
}

.btn {
    font-size: 13px;
    color: var(--color-btn);
    text-decoration: none;
    margin-bottom: 15px;
}

.submit {
    background-color: var(--color-submit-bg);
    color: var(--color-submit-text);
    font-weight: bold;
    padding: 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.submit:disabled {
    background-color: var(--color-submit-disabled);
    cursor: not-allowed;
    opacity: 0.6;
}

.submit:not(:disabled):hover {
    opacity: 0.9;
    background-color: var(--color-submit-bg-hover);
}

.footerText {
    font-size: 12px;
    text-align: center;
    margin-top: 15px;
}

.footerText a {
    color: var(--color-footer-link);
    text-decoration: none;
}

.error {
    color: var(--color-error);
    font-size: 12px;
    margin-bottom: 10px;
}

.closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-weight: bold;
    cursor: pointer;
}
