.header {
    height: 40px;
    z-index: 1000;
    background-image: url('../assets/image/bg-header.jpg');
}

.logo {
    color: transparent;
    background: linear-gradient(90deg, #ffff00, #00ff00, #00bcd4, #333333);
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 300% 100%;
    animation: gradientMove 2s linear infinite alternate;
}

@keyframes gradientMove {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 0%;
    }
}
