.nav-bar {
    background-color: var(--color-nav-background);
    z-index: 999 !important;
}

.active {
    height: 100%;
    background-color: var(--color-nav-active) !important;
    color: var(--primary--color) !important;
    box-shadow: -1px 0 2px rgba(0, 0, 0, 0.05), 1px 0 2px rgba(0, 0, 0, 0.05);
    opacity: 1 !important;
}

li::marker {
    content: '';
    display: none;
}

.dropdown {
    background-color: var(--background-nav-dropdown);
}

.column {
    display: flex;
    flex-direction: column;
    background-color: transparent;
}

.genre {
    white-space: nowrap;
    display: inline-block;
    padding: 5px 10px;
    color: inherit;
    cursor: pointer;
    color: var(--color-nav-dropdown);
    background-color: transparent;
}

.genre span {
    position: relative;
    z-index: 1;
}

.description {
    background-color: var(--background-nav-dropdown);
}

.label {
    font-family: Tahoma, sans-serif, Helvetica, Arial;
}
