#snow-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    overflow: hidden;
    z-index: 9999;
}

.snowflake {
    position: absolute;
    opacity: 0.5;
    transition: transform 0.2s linear;
    user-select: none;
    pointer-events: none;
    will-change: transform, top, left;
}
