.story-card {
    cursor: pointer;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.story-card:hover {
    animation: shake 0.5s;
    animation-iteration-count: 1;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-2px);
    }
    50% {
        transform: translateX(0px);
    }
    75% {
        transform: translateX(2px);
    }
    100% {
        transform: translateX(0);
    }
}
