:root[data-theme='light'] {
    --background--current-chapter: #ffeaa7;
    --border-current-chapter: #fdcb6e;
}

:root[data-theme='dark'] {
    --background--current-chapter: #4d86ff;
    --border-current-chapter: #145eff;
}

.story-image {
    max-width: 250px;
    max-height: 500px;
    margin-right: 20px;
    border-radius: 10px;
}

.label {
    font-weight: bold;
    margin-right: 10px;
}

.chapterItem {
    font-size: small;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.chapterItem:hover {
    background-color: var(--color-bg-hover);
    color: var(--color-text-light);
    cursor: pointer;
}

/* Chương đã đọc */
.readChapter {
    opacity: 0.5;
}

/* Chương đang đọc */
.currentChapter {
    background-color: var(--background--current-chapter);
    font-weight: bold;
    border: 1px solid var(--border-current-chapter);
}

.genre {
    background-color: var(--color-bg-badge);
    color: var(--color-text-light);
    transition: background-color 0.3s, color 0.3s;
}
.genre:hover {
    background-color: var(--color-bg-badge-hover);
    color: var(--color-bg-content);
}
